%tr
  %td = @document.name
  %td = @document.document_type
  %td = @document.bucket_id
  %td
    = link_to document_path(@document), {title: t('shared.show')} do
      %button.btn.btn-default
        = fa_icon "search"
    = link_to edit_document_path(@document), {title: t('shared.edit')} do
      %button.btn.btn-default
        = fa_icon "edit"
    = link_to document_path(@document), {method: :delete, title: t('shared.delete')} do
      %button.btn.btn-default
        = fa_icon "trash"

