%tr
  %td=  link_to document.name, document_path(document)
  %td= document.document_type
  %td= document.decorate.document_bucket_name
  %td
    = link_to edit_document_path(document), {title: t('shared.edit')} do
      %button.btn.btn-success
        = fa_icon "edit"
    = link_to document_path(document), {method: :delete, title: t('shared.delete')} do
      %button.btn.btn-success
        = fa_icon "trash"

