= simple_form_for document, html: { multipart: true} do |f|
  = f.input :file, as: :file
  = f.input :name
  = f.input :document_type
  = f.association :bucket
  = f.input :issue_date, as: :date
  = f.button :submit, class: 'btn btn-success'

