- breadcrumb :documents, document
.row
  .col-md-12.additional-space
    = form_tag documents_path, method: :get do
      .input-group
        = text_field_tag :search, nil, class: 'form-control', placeholder: 'Search for document'
        %span.input-group-btn
          = submit_tag 'Search', class: 'btn btn-primary'
          %p
          %p
%h4 Listing documents
%p
- if params[:search]
  = render 'searched_documents_table'
- else
  = render 'documents_table'
