-breadcrumb :document, document_path
%table.table.table-condensed
  %tbody
    %tr
      %td="#{t('documents.columns.name')}"
      %td= document.name
    %tr
      %td="#{t('documents.columns.document_type')}"
      %td= document.document_type
    %tr
      %td="#{t('documents.columns.created_at')}"
      %td= document.created_at

= link_to 'Edit', edit_document_path(document), class: 'btn btn-success'
= link_to 'Back', documents_path, class: 'btn btn-success'

